@keyframes hide {
    0% {
        opacity: 1;
        height: 100%;
        line-height: 100%;
        width: 100%;
        opacity: 100%;
    }
    50% {
        opacity: 0%;
    }
    100% {
        height: 50%;
        line-height: 50%;
        width: 50%;
        opacity: 0%;
    }
}

#email-id, #compose-view {
    margin: 0 auto;
    animation-name: hide;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

textarea {
    min-height: 400px;
}

.col-4, .col-5, .col-3 {
    padding: 1rem 0;    
}
.main-body, .email-metadata {
    border: 1px solid #ced4da;
    border-radius: .25rem;
    padding: .375rem .75rem;
    color: #222;
    margin-bottom: 2rem;
}
#sender, #recipients {
    display: inline-block;
    padding-right: 1rem;
}
p {
    margin-top: 1rem;
}
.row {
    padding-left: 1rem;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    margin-bottom: 1rem;
    color: #222;
}
.row:hover, .row.active {
    text-decoration: none;
    color: #000;
    border-color: #000;
}

#timestamp {
    float: right;
    margin: 1rem 0;
    line-height: 24px;
}

#compose-submit {
    margin: 1rem 0;
}

#composeAlert {
    margin-top: 1rem;
    margin-bottom: 0;
}